<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanatan Data Science Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="background_index">
        <nav>
            <a href="index.html">Home</a>
            <a href="portfolio.html">Projects</a>
            <a href="profile.html">About me</a>
        </nav>
        <div >
                <img src="images/profile.png" alt="Profile picture" class="profile_pic">
        </div>
        <div class="label top-left"><a href="https://github.com/Sanatan753">GitHUB</a></div>
        <div class="label top-right"><a href="https://www.linkedin.com/in/sanatan-kisku-773510250/">Linkled</a></div>
        <div class="label bottom-left"><a href="https://youtu.be/dQw4w9WgXcQ?si=98fBAH8rpDp6S8BC">Label 3</a></div>
        <div class="label bottom-right"><a href="https://www.reddit.com/user/sangamer171/">Label 4</a></div>
    <footer>
        <p>&copy; 2024 Sanatan Data Science Portfolio</p>
    </footer>
</body>
</html>
