.background_index {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
.background_Portfolio{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
nav {
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}
.profile-pic {
    margin-top: 80px; /* to account for the fixed navbar */
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 3;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

.item {
    display: flex;
    flex-direction:row;
    margin-bottom: 20px;
    cursor: pointer;
}

.thumbnail {
    width: 30%;
    height: 30%;
    background-color: #ccc;
    margin-right: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #1a1a2e;
    border-radius: 50%;
    border: 5px solid #ccc;
    cursor: pointer;
    margin-top: 40px;
    position: absolute;
    top:70px;
    right: 100px;
}
/* label styles */
.label {
    position: absolute;
    background-color: #535353;
    color: #fff;
    padding: 5px 10px;
    border-radius: white solid 5px;
    font-size: 12px;
}

.top-left {
    top: 90;
    left: 100;
    transform: translate(-50%, -50%);
}

.top-right {
    top: 60;
    right: 100;
    transform: translate(50%, -50%);
}

.bottom-left {
    bottom: 80;
    left: 100;
    transform: translate(-50%, 50%);
}

.bottom-right {
    bottom: 80;
    right: 100;
    transform: translate(50%, 50%);
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
}